<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NetworkTopologyPath" value="C:\\Temp\\NetworkModel.pbuf"/>
  </appSettings>
  <connectionStrings>
    <add name="OMS" connectionString="User Id=cad;Password=cad;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=omsdbqas901)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=oomsd.world)))"/>
  </connectionStrings>
</configuration>